html,
body {
  width: 100%;
  height: 100%;
  background-color: #7489ff;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
  color: white;
  font-size: calc(10px + 2vmin);
  position: relative;
  margin: auto;
}

.Answers {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.spacer {
  margin: 12px 0;
}

.insetBox {
  height: 124px;
  width: 124px;
  margin: auto;
  border-radius: 12px;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

@media screen and (min-width: 600px) {
  .Click-box {
    width: 100px;
    height: 100px;
  }
}